
body {
    padding: 50px 20%;
}

h1, h2, h3, h4, h5, h6, bold, strong {
    color: plum;
}

h1 {text-transform: uppercase}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: right;
    text-decoration: underline;
    text-decoration-color: lightslategray;
}

/*font, text decoration or nothing?*/
hr {
    color: lightslategray;
    text-decoration-style: dotted;
    font-weight: lighter;
    width: 50%;
}

p {
    color: lightslategray;
    font-family: Georgia, serif;
    text-align: justify;
    font-style: italic;
}

#big-achievement {color: red;}
